*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FFF1E1;
}
body, html{
    height: 100%;
}
.cabecera__nav__ul__li{
    list-style: none;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    display: inline;
    color:#4F2034;
    text-decoration: none;
    font-size: max(2vw, 12px);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
.cabecera__nav__ul__li__a{
    color: inherit;
    text-decoration: none;
}
.cabecera__nav__ul__li__a:visited{
    color:inherit;
}
.cabecera__nav__ul__li:hover{
    border-bottom: #4F2034 solid 5px;
}
.cabecera__nav__ul__li__a--conimg{
    height: 100%;
}
.li--sinbc{
    list-style: none;
    height: 100%;
}
.cabecera__nav__ul__li__a__img{
    height: 100%;
}
.cabecera__nav__ul{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cabecera__nav{
    height: 100%;
}
.cabecera{
    top: 0;
    height: 15vh;
    width: 100%;
    position: fixed;
    background-color: #FFF1E1;
    border-bottom:#4F2034 inset 5px;
    z-index: 99;
}
.footer{
    grid-area: "footer";
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: #4F2034;
    border-top: #381725 solid 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    color:#FFF1E1;
    font-size: max(1.5vw, 8px);
    z-index: 3;
}
.footer__nav{
    height: 100%;
    width: 30%;
    order: 2;
}
.footer__nav__ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.footer__nav__ul__li{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.footer__nav__ul__li__a__img{
    height: 2em;
}
.footer__p--1{
    order: 1;
}
.footer__p--2{
    order: 3;
}

.main{
    grid-area: "main";
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto;
    grid-template-areas:
    "div1"
    "div2";
}
.main__div1 {
    grid-area: "div1";
    margin-top: 10vh;

    /* The image used */
    background-image: url("http://drive.google.com/uc?export=view&id=1qGTDDGSxbbMGMyuQSterqynxTDFm2bZA");
  
    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:0 15vh;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 1.5s;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.main__div1:hover{
    filter: saturate(170%);
}
.main__div1__h1{
    font-family: 'Libre Baskerville', serif;
    color:#FFF1E1;
    font-size: 14vw;
    text-shadow: 2px 0 #4F2034, -2px 0 #4F2034, 0 2px #4F2034, 0 -2px #4F2034,
    1px 1px #4F2034, -1px -1px #4F2034, 1px -1px #4F2034, -1px 1px #4F2034;
}

.main__div2{
    grid-area: "div2";
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    min-height: 50vw;

    background-color: #FFF1E1;
    border-top:#4F2034 outset 5px;
    height: 100%;

    font-family: 'Libre Baskerville', serif;
    color:#4F2034;
    font-size: 22px;
    z-index: 2;
}
.main__div2__h2{
    font-size: 5vw;
    text-decoration: underline #4F2034;
}
.main__div2__p{
    font-size: 1.8vw;
}
.main__div2__sec{
    display: flex;
    width: 80%;
}
.main__div2__sec__p{
    font-size: 1.5vw;
}
.main__div2__form{
    padding: 1.5rem;
}
.main__div2__form__div{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
}
.main__div2__form__boton--enviar{
    margin: 5px;
}
.main__div2__form__div--boton{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
}
.main__div2__form__leg{
    font-size: 25px;
    color:#4F2034;
    text-decoration: underline #4F2034;
}
.main__div3{
    grid-area: "div3";
    margin-top: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: #FFF1E1;
    border-top:#4F2034 outset 5px;
    height: min-content;

    font-family: 'Libre Baskerville', serif;
    color:#4F2034;
}
.main__div3__h2{
    margin: 40px;
    font-size: max(4vw,20px);
}
.main__div3__iframe{
    padding: 0 2rem 2rem 2rem;
    border-radius: 10%;
}
.main__div--Galeria{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: #FFF1E1;
    border-top:#4F2034 outset 5px;
    height: min-content;

    font-family: 'Libre Baskerville', serif;
    color:#4F2034;
    z-index: 2;
}
.main__div--Galeria__div{
    display: flex;
    flex-flow: column nowrap;
    margin: 60px 20px;
    height: 200px;
    width: 400px;
    background-color: #4F2034;
    color:#FFF1E1;
    font-size: max(1.5vw,10px);
    align-items: center;
    border: #4F2034 2px solid;
}
.main__div--Galeria__div h2{
    font-size: max(1.5vw,10px);
}
.main__div--Galeria__div__img{
    width: 100%;
    overflow: hidden;
}
.main__div--Galeria__div__img img{
    width: 100%;
    transition: 1s;
}
.main__div--Galeria__div__img img:hover{
    transform: scale(1.05);
}

.body--index,
.body--nosotros,
.body--menu,
.body--galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 15vh;
    grid-template-areas:
    "main"
    "footer";
}

.body--contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15vh;
    grid-template-areas:
    "main"
    "footer";
}
.main--contacto{
    display: grid;
    grid-row: 1/2;
    grid-area: "main";
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto;
    grid-template-areas:
    "div1"
    "div2"
    "div3";
}