.main__div--Galeria{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: $colorPrincipal;
    border-top:$colorSecundario outset 5px;
    height: min-content;

    font-family: 'Libre Baskerville', serif;
    color:$colorSecundario;
    z-index: 2;
}

.main__div--Galeria__div{
    display: flex;
    flex-flow: column nowrap;
    margin: 5vw 1.7vw;
    height: 18vw;
    width: 29vw;
    min-height: 100px;
    min-width: 200px;
    background-color: $colorSecundario;
    color:$colorPrincipal;
    font-size: max(1.5vw,10px);
    align-items: center;
    border: $colorSecundario 2px solid;
    h2{
        font-size: max(1.5vw,10px);
        margin: 0;
    }
}

.main__div--Galeria__div__img{
    width: 100%;
    overflow: hidden;

    img{
        width: 100%;
        transition: 1s;
        &:hover{
            transform: scale(1.05);
        }
    }
}