.main__div--Galeria{
    @include flexMixin(flex, row wrap, center, space-evenly);

    background-color: $colorPrincipal;
    border-top:$colorSecundario outset 5px;
    height: min-content;

    @extend %fuentes;
    z-index: 2;
}

.main__div--Galeria__card{
    background-color: $colorPrincipal;
    color: $colorSecundario;
    border: 2px solid $colorSecundario;
    font-size: max(1.5vw,10px);
}