.main__div2{
    @include flexMixin(flex, column nowrap, center, space-evenly, center);

    min-height: 50vw;

    background-color: $colorPrincipal;
    border-top:$colorSecundario outset 5px;
    height: 100%;

    @extend %fuentes;
    z-index: 2;
}

.main__div2__h2{
    font-size: 5vw;
    text-decoration: underline $colorSecundario;
    padding: 2rem;
    padding-bottom: 1rem;
    margin: 0;
}

.main__div2__p{
    font-size: 2.5vw;
    padding: 2rem;
    padding-top: 1rem;
}

.main__div2__sec{
    display: flex;
    width: 80%;
    text-align: center;
}

.main__div2__sec__p{
    font-size: 2.5vw;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.main__div2__form{
    margin: 35px;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    min-width: 30vw;
    max-width: 600px;
    width: 80vw;
}

.main__div2__form__div{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    flex-flow: column nowrap;
    font-size: max(2vw,12px);
}

.main__div2__form__boton--enviar{
    border-radius: 10px;
    background-color: $colorSecundario;
    color: $colorPrincipal;
    padding: 0 10px 0 10px;
    margin: 5px;
    font-size: max(2vw,12px);
    border: none;
}

.main__div2__form__div--boton{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
}

.main__div2__form__field{
    border-width: 2px;
    border-style: solid;
    border-color: $colorSecundario;
    border-radius: 10px;
}

.main__div2__form__leg{
    color:$colorSecundario;
    text-decoration: underline $colorSecundario;
    float: none;
    width: max-content;
    font-size: max(3.5vw,15px);
}

.estilo__input{
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    color: $colorSecundario;
    border: 2px solid $colorSecundario;
}
textarea{
    padding: 10px;
    border-radius: 15px;
    border: 2px solid $colorSecundario;
    color: $colorSecundario;
}