@media screen and (max-width: 576px){
    .main__div2__p{
        font-size: max(1.8vw,12px);
    }
    .main__div2__sec__p{
        font-size: max(1.8vw,12px);
    }
    .main__div2__h2{
        font-size: max(4vw, 17px);
    }
    .main__div1__h1{
        font-size: max(12vw, 25px);
    }
    .footer{
        height: 20vh;
    }
}

@media screen and (min-width: 992px){
    .navbar-nav{
        .nav-link{
            transition: transform .5s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .navbar-brand{
        transition: transform .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}