@import "./partials/colorVariables",
"./partials/maps",
"./partials/mixings",
"./partials/extends",
"./partials/header",
"./partials/footer",
"./partials/mainDiv1",
"./partials/mainDiv2",
"./partials/mainDiv3",
"./partials/mainDivGaleria",
"./partials/mediaQuerie";

*{
    margin: 0px;
    padding: 0px;
    &::selection{
        color: $colorPrincipal;
        background-color: $colorSecundario;
    }
}
p{
    margin-bottom: 0%;
}

body{
    background-color: $colorPrincipal;
    html{
        height: 100%;
    }
}